@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  --swiper-navigation-size: 20px !important;
  font-weight: 600;
  --swiper-theme-color: #014470 !important;
}

body {
  font-family: 'Inter', sans-serif;
}
.special-font {
  font-family: 'Katibeh', serif;
}
.card::-webkit-scrollbar {
  width: 0px;
  scroll-behavior: smooth;
}
#scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.faq-item.open .faq-question {
  background-color: #098666;
  color: white !important;
  border: 1px solid #098666;
}

.faq-item .faq-answer {
  background-color: white; /* Keep the background white */
  color: #26465b; /* Change to your desired text color */
  display: none;
}
.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-question {
  /* color: #26465b;  */
  color: white;
}
.faq-question {
  color: #26465b;
}
.dropdown-content {
  display: none;
}
.dropdown-content.show {
  display: block;
}

/* ul li a.active {
  background-color: white !important;
  /* border: 2px solid #014470; */
/* color: #014470; */
/* } */
.nav-link.active {
  background-color: white !important;
  color: #014470;
  border-color: #098666 !important; /* Remove border for active link */
}

/* .nav-link2 {
  color: #014470;
} */
.mobile-link.actives {
  color: #098666 !important;
}

/* swiper styles */
/* @media (min-width: 1440px) { */
/* .img {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  .img {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  .img {
    zoom: 2.5;
  }
}
/*  */
.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}
#tranding {
  /* padding: 4rem 0; */
}

@media (max-width: 1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

.swiper-slide {
  width: 26rem !important;
  height: 32rem !important;
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 26rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .tranding-slide {
    width: 20rem !important;
    height: 30rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 25rem !important;
    height: 30rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 25rem;
  height: 26rem;
  border-radius: 1rem;
  object-fit: cover;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
#swiper-wrapper-e102b95b3afd41242.swiper-wrapper {
  height: 42rem;
}
.tranding-slider-control {
  position: relative;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}
@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
@media (min-width: 768px) {
  .tranding-slider-control .slider-arrow {
    background: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
}

@media (min-width: 1280px) {
  .tranding-slider-control .slider-arrow {
    background: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    z-index: 20 !important;
  }
  .tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
}
@media (min-width: 1024px) {
  .tranding-slider-control .slider-arrow {
    background: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    left: 36%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  .tranding-slider-control .swiper-button-next {
    left: 64% !important;
    transform: translateX(-58%) !important;
  }
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 1.2rem;
  color: #222224;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  top: 5px;
  bottom: 0.5rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  /* margin-top: 36px; */
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #229ced;
  /* margin-top: 36px; */
}
.swiper-pagination {
  z-index: 10 !important;
}

/* mobile swiper */

.mySwiper {
  --swiper-navigation-size: 20px !important;
  --swiper-theme-color: #014470 !important;
  font-weight: 600;
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 24px !important;
}
@media (min-width: 768px) {
  .swiper-button-prev svg,
  .swiper-button-next svg {
    /* display: none; */
  }
}
@media (max-width: 767px) {
  .swiper-button-next {
    /* left: 58% !important; */
    /* transform: translateX(-78%) !important; */
    right: 5px !important;
    position: absolute;
  }
  .swiper-button-prev {
    /* left: 58% !important; */
    /* transform: translateX(-78%) !important; */
    left: 5px !important;
    position: absolute;
  }
  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 24px !important;
  }
}
